@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<iframe src='https://zyg-sp4/single?appid=decf8e71-205f-462b-9a80-1c7a6fdb987b&sheet=XuWLHFK&opt=currsel&select=clearall' 
        style='border:none;width:1024px;height:768px'></iframe>
